<ion-view view-title="{{'title' | translate}}">
    <ion-content id="home-content" class="overflow-scroll">
        <section id="summary" class="emission-docs-masthead" role="main">
            <div id="carouselIntro" class="carousel slide carousel-fade" data-ride="carousel" tabindex="-1">
                <ol class="carousel-indicators">
                    <li data-target="#carouselIntro" ng-repeat="slide in introSlides" data-slide-to="slide.id"
                        ng-class="{'active': slide.id===0}"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item" ng-repeat="slide in introSlides" ng-class="{'active': slide.id===0}">
                        <img ng-src="{{slide.image}}" class="d-block mx-auto" alt="..." style="height: 95vh">
                        <div class="carousel-caption d-none d-md-block mx-auto">
                            <p>{{slide.text}}</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselIntro" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">{{'slides.previous'}}</span>
                </a>
                <a class="carousel-control-next" href="#carouselIntro" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">{{'slides.next'}}</span>
                </a>
            </div>
        </section>
        <section class="container page">
            <div class="row">
                <div class="col-md-8" id="main-back">
                    <h1 class="introH" translate>{{'title'}}</h1>
                    <p class="intro firstPar" translate>{{'intro.presentation'}}</p>
                    <p class="intro firstPar" translate>{{'intro.partner'}}</p>
                    <div class="d-block row mx-auto">
                        <img src="img/favicon.png" class="img-fluid" style="height: 150px">
                        <img src="img/ademe.png" class="img-fluid" style="height: 150px">
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="img/personal/compare_with_common.png" class="img-fluid">
                </div>
            </div>
        </section>
        <section class="container page">
            <div class="row">
                <div class="col-md-4">
                    <div id="personalCarousel" class="carousel slide carousel-fade" data-ride="carousel"
                        data-keyboard="true">
                        <ol class="carousel-indicators">
                            <li data-target="#personalCarousel" ng-repeat="slide in personalSlides"
                                data-slide-to="slide.id" ng-class="{'active': slide.id===0}"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item" ng-repeat="slide in personalSlides"
                                ng-class="{'active': slide.id===0}">
                                <img ng-src="{{slide.image}}" class="d-block mx-auto" alt="..." style="height: 80vh">
                                <div class="carousel-caption d-none d-md-block mx-auto">
                                    <p>{{slide.text}}</p>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#personalCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">{{'slide.previous'}}</span>
                        </a>
                        <a class="carousel-control-next" href="#personalCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">{{'slide.next'}}</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-8" style="padding-left:5%">
                    <h1 class="introH" translate>{{'personal.title'}}</h1>
                    <p class="intro" translate>
                        {{'personal.diary'}}
                    </p>
                    <p class="intro" translate>
                        {{'personal.metrics'}}
                    </p>
                </div>
            </div>
        </section>
        <!-- <section class="page" id="aggregate">
                <section class="container card" style="padding:1%">
                    <h1 class="introH">Aggregate</h1>
                    <p class="intro">The webapp provides an aggregate
                     view of travel patterns and supports filters by mode, month, day,
                     weekday and time of day. This enables fine-grained visibility into changes over
                     time. The maps here show the heatmap for <b>bicycling</b> trips in the
                     Berkeley Area on <b>Thursday</b> commute hours <b>(7am to 10am)</b> in the
                     months of <b>March and April</b>. It looks like somebody used to bike around the South
                     side in March and then stopped!!
                     <a class="button button-assertive" href="#/heatmap">Explore now!</a>
                 </p>
                 <div class="item item-image item-body">
                    <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                        <uib-slide ng-repeat="slide in aggregateSlides track by slide.id" index="slide.id">
                            <img ng-src="{{slide.image}}" style="align:center;margin:auto;">
                            <div class="carousel-caption">
                                <p>{{slide.text}}</p>
                            </div>
                        </uib-slide>
                    </uib-carousel>
                </div>
            </section>
        </section> -->
        <section class="container page">
            <h1 class="introH" translate>{{'code-privacy.title'}}</h1>
            <p class="intro" translate>{{'code-privacy.visibility'}}</p>
            <h3 translate>{{'code-privacy.github'}}</h3>
            <a href="https://github.com/fabmob/e-mission-phone-fabmob"><img style="height:100px"
                    ng-src="img/GitHub-Mark-120px-plus.png"></a>
            <p class="intro" translate>{{'code-privacy.join-us.site'}}</p>
            <p class="intro"><a href="https://oultim.frama.site/">Outil Libre pour les Traces Individuelles de
                    Mobilité</a> </p>
            <p class="intro" translate>{{'code-privacy.join-us.mail'}}</p>
            <p class="intro"><a href="mailto:traceur.fabmob@gmail.com">traceur.fabmob@gmail.com</a> </p>
        </section>
    </ion-content>
</ion-view>